<div class="container bg-danger text-center py-3 fst-italic">
    <div class="row">
        <div class="col-12">
            Made by <a href="https://github.com/SerenaMK">SerenaMK</a> with <a href="https://pokeapi.co/">PokéAPI</a>.
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- <div>
                <b>CREDITS</b>
            </div> -->
            <div>
                Background pattern by <a href="https://cocorini.tumblr.com/patterns">Cocorini</a>.
            </div>
        </div>
    </div>
</div>
