<nav class="navbar navbar-expand-lg bg-danger shadow" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">MyPokedex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/pokedex">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/moves">Moves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/types">Types</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu bg-danger-subtle" data-bs-theme="light">
                        <li><a class="dropdown-item" routerLink="/abilities">Abilities</a></li>
                        <li><a class="dropdown-item" routerLink="/natures">Natures</a></li>
                        <!-- <li><a class="dropdown-item" routerLink="/characteristics">Characteristics</a></li> -->
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/regions">Regions</a></li>
                        <li><a class="dropdown-item" routerLink="/locations">Locations</a></li> -->
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
