<div class="row">
    <div class="col-12">
        <!-- TITLE -->
        <h1 class="text-danger fw-bold">Abilities</h1>
        <!-- NUMBER OF ABILITIES -->
        <p class="pt-2 fs-5">
            Number of Abilities: <b>{{ ability.count }}</b>
        </p>
        <!-- SEARCH BAR -->
        <div class="col-12 col-md-6 mx-auto">
            <form [formGroup]="abilitySearch" class="d-flex mb-4 w-100" role="search" (ngSubmit)="onSubmit()">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    data-bs-theme="light" formControlName="search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>

    </div>
</div>

<!-- PAGINATION -->
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Previous Page -->
            <li class="page-item" (click)="getPreviousPage()" [ngClass]="{ 'disabled' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">Previous</a>
            </li>
            <!-- First -->
            <li class="page-item" (click)="goToPage(1)" [ngClass]="{ 'disabled' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">&laquo;</a>
            </li>
            <!-- Page A -->
            <li class="page-item" (click)="getPageA()" [ngClass]="{ 'active' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">{{ pagination[0].number }}</a>
            </li>
            <!-- Page B -->
            <li class="page-item" (click)="getPageB()" [ngClass]="{ 'active' : thisPageOffset == getOffset(pagination[1].link) }">
                <a class="page-link" style="cursor: pointer">{{ pagination[1].number }}</a>
            </li>
            <!-- Page C -->
            <li class="page-item" (click)="getPageC()" [ngClass]="{ 'active' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">{{ pagination[2].number }}</a>
            </li>
            <!-- Last -->
            <li class="page-item" (click)="goToPage(lastPage)" [ngClass]="{ 'disabled' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">&raquo;</a>
            </li>
            <!-- Next Page -->
            <li class="page-item" (click)="getNextPage()" [ngClass]="{ 'disabled' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- LIST OF ABILITIES -->
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let thisAbilities of ability.results; let i = index"
                routerLink="/ability/{{ (thisAbilities.url).slice(34, (thisAbilities.url).length-1) }}">

                <!-- Pokemon Number -->
                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    # {{ (thisAbilities.url).slice(34, (thisAbilities.url).length-1) }}
                </span>
                <!-- Pokemon Name -->
                {{ thisAbilities.name | titlecase }}

            </a>
        </div>
    </div>
</div>

<!-- PAGINATION -->
<div class="row pt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Previous Page -->
            <li class="page-item" (click)="getPreviousPage()" [ngClass]="{ 'disabled' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">Previous</a>
            </li>
            <!-- First -->
            <li class="page-item" (click)="goToPage(1)" [ngClass]="{ 'disabled' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">&laquo;</a>
            </li>
            <!-- Page A -->
            <li class="page-item" (click)="getPageA()" [ngClass]="{ 'active' : thisPageOffset == 0 }">
                <a class="page-link" style="cursor: pointer">{{ pagination[0].number }}</a>
            </li>
            <!-- Page B -->
            <li class="page-item" (click)="getPageB()" [ngClass]="{ 'active' : thisPageOffset == getOffset(pagination[1].link) }">
                <a class="page-link" style="cursor: pointer">{{ pagination[1].number }}</a>
            </li>
            <!-- Page C -->
            <li class="page-item" (click)="getPageC()" [ngClass]="{ 'active' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">{{ pagination[2].number }}</a>
            </li>
            <!-- Last -->
            <li class="page-item" (click)="goToPage(lastPage)" [ngClass]="{ 'disabled' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">&raquo;</a>
            </li>
            <!-- Next Page -->
            <li class="page-item" (click)="getNextPage()" [ngClass]="{ 'disabled' : thisPageOffset == lastOffset }">
                <a class="page-link" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>
