<div class="row">
    <div class="col-12">
        <h1 class="text-danger mb-4">MyPokedex</h1>
    </div>
</div>

<div class="row fs-5">
    <div class="col-12 mb-5">
        Welcome to <b>MyPokedex</b>, a website for Pokemon enthusiasts.
    </div>
</div>

<div class="row bg-danger-subtle p-4 slant">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="fs-5">
            Find information about any <a routerLink="/pokedex">Pokemon</a>.
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex justify-content-center">
            <div class="circle bg-white">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                    class="home-img" alt="Pikachu">
            </div>
        </div>
    </div>
</div>

<div class="row p-4 slant2">
    <div class="col-12 col-md-6">
        <div class="d-flex justify-content-center">
            <div class="circle bg-danger-subtle">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/237.png"
                class="home-img" alt="Hitmontop">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="fs-5">
            Learn about Pokemon <a routerLink="/moves">moves</a>.
        </div>
    </div>
</div>

<div class="row bg-danger-subtle p-4 slant">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="fs-5">
            Browse all <a routerLink="/items">items</a>.
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex justify-content-center">
            <div class="circle bg-white">
                <img src="https://archives.bulbagarden.net/media/upload/1/1f/Bag_Mystic_Water_SV_Sprite.png"
                    class="home-img" alt="Mystic Water">
            </div>
        </div>
    </div>
</div>
