.home-img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.circle {
    border-radius: 150px;
}

.slant {
    border-radius: 100px 0 100px 0;
}
.slant2 {
    border-radius: 0 100px 0 100px;
}

.slant a, .slant2 a {
    text-decoration: none;

    &:hover {
        font-weight: bold;
        font-style: italic;
    }
}
