<div class="row">
    <div class="col-12">
        <p class="m-0">#{{ pokemon.id }}</p>
        <h1>{{ pokemon.name | titlecase }}</h1>
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-6">
        <ul class="list-group">

            <!-- TYPE -->
            <li class="list-group-item">
                <p class="fw-bold">Type:</p>
                <p class="m-0" *ngFor="let type of pokemon.types; let i = index">
                    {{ pokemon.types[i].type.name | titlecase }}
                </p>
            </li>

            <!-- ABILITIES -->
            <li class="list-group-item">
                <p class="fw-bold">Abilities:</p>
                <p class="m-0" *ngFor="let ability of pokemon.abilities; let i = index">
                    {{ pokemon.abilities[i].ability.name | titlecase }}
                </p>
            </li>

        </ul>
    </div>

    <div class="col-12 col-md-6">
        <div class="container border">
            <div class="row">
                <div class="col-6">
                    Default<br>
                    <img src="{{ pokemon.sprites.other['official-artwork'].front_default }}" alt="Image of the pokemon"
                        width="300px">
                    <br>
                </div>
                <div class="col-6">
                    Shiny<br>
                    <img src="{{ pokemon.sprites.other['official-artwork'].front_shiny }}" alt="Image of the pokemon"
                        width="300px">
                </div>

            </div>




        </div>
    </div>

</div>
