.sprite {
    max-width: 200px;
}

a {
    text-decoration: none;

    &:hover {
        font-weight: bold;
        font-style: italic;
    }
}

table > tbody > tr:last-of-type {
    border-bottom-color: transparent;
}


// GAMES COLORS
.red-blue {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,9,255,1) 100%);
}
.gold {
    // background-color: goldenrod;
    background: linear-gradient(90deg, rgba(232,190,0,1) 0%, rgba(205,168,0,1) 50%, rgba(232,190,0,1) 100%);
}
.silver {
    background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(189,189,189,1) 50%, rgba(215,215,215,1) 100%);
}
.crystal {
    background-color: lightblue;
}
.ruby-sapphire {
    background: linear-gradient(90deg, rgb(192, 0, 0) 0%, rgb(0, 6, 194) 100%);
}
.emerald {
    background-color: green;
}
.firered-leafgreen {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgb(0, 150, 0) 100%);
}
.diamond-pearl {
    background: linear-gradient(90deg, lightblue 0%, pink 100%);
}
.platinum {
    background-color: rgb(112, 112, 112);
}
.heartgold-soulsilver {
    background: linear-gradient(90deg, rgba(185,185,185,1) 0%, rgba(215,215,215,1) 30%, rgba(209,189,0,1) 65%, rgba(191,173,0,1) 100%);
}
.black-white {
    background: linear-gradient(90deg, black 0%, white 100%);
}
.x-y {
    background: linear-gradient(90deg, rgb(59, 63, 77) 0%, rgb(99, 97, 208) 30%, rgb(214, 76, 76) 65%, rgb(61, 49, 49) 100%);
}
.sun-moon {
    background: linear-gradient(90deg, rgb(243, 158, 1), rgb(122, 26, 201) 100%);
}
.sword-shield {
    background: linear-gradient(90deg, rgba(42,222,255,1) 0%, rgba(255,57,104,1) 100%);
}
