<div [ngSwitch]="gameName">
    <span *ngSwitchCase="'sword-shield'"><span style="color: #00A1E9">Sw</span><span style="color: #BF004F">Sh</span></span>
    <span *ngSwitchCase="'lets-go-pikachu-lets-go-eevee'"><span style="color: #F5DA26">P</span><span style="color: #D4924B">E</span></span>
    <span *ngSwitchCase="'sun-moon'"><span style="color: #F1912B">S</span><span style="color: #5599CA">M</span></span>
    <span *ngSwitchCase="'ultra-sun-ultra-moon'"><span style="color: #E95B2B">US</span><span style="color: #226DB5">UM</span></span>
    <span *ngSwitchCase="'gold-silver'"><span style="color: #DAA520">G</span><span style="color: #C0C0C0">S</span></span>
    <span *ngSwitchCase="'crystal'"><span style="color: #4FD9FF">C</span></span>
    <span *ngSwitchCase="'ruby-sapphire'"><span style="color: #A00000">R</span><span style="color: #0000A0">S</span></span>
    <span *ngSwitchCase="'emerald'"><span style="color: #00A000">E</span></span>
    <span *ngSwitchCase="'firered-leafgreen'"><span style="color: #FF7327">FR</span><span style="color: #00DD00">LG</span></span>
    <span *ngSwitchCase="'diamond-pearl'"><span style="color: #AAAAFF">D</span><span style="color: #FFAAAA">P</span></span>
    <span *ngSwitchCase="'platinum'"><span style="color: #999999">Pt</span></span>
    <span *ngSwitchCase="'heartgold-soulsilver'"><span style="color: #B69E00">HG</span><span style="color: #C0C0E1">SS</span></span>
    <span *ngSwitchCase="'black-white'"><span style="color: #444444">B</span><span style="color: #E1E1E1">W</span></span>
    <span *ngSwitchCase="'black-2-white-2'"><span style="color: #424B50">B2</span><span style="color: #E3CED0">W2</span></span>
    <span *ngSwitchCase="'x-y'"><span style="color: #025DA6">X</span><span style="color: #EA1A3E">Y</span></span>
    <span *ngSwitchCase="'omega-ruby-alpha-sapphire'"><span style="color: #AB2813">OR</span><span style="color: #26649C">AS</span></span>
    <span *ngSwitchCase="'red-blue'"><span style="color: #FF1111">R</span><span style="color: #1111FF">B</span></span>
    <span *ngSwitchCase="'yellow'"><span style="color: #FFD733">Y</span></span>
    <span *ngSwitchCase="'colosseum'"><span class="text-black">Col</span></span>
    <span *ngSwitchCase="'xd'"><span class="text-dark">XD</span></span>

    <span *ngSwitchCase="'red'"><span style="color: #FF1111">R</span></span>
    <span *ngSwitchCase="'blue'"><span style="color: #1111FF">B</span></span>
    <span *ngSwitchCase="'gold'"><span style="color: #DAA520">G</span></span>
    <span *ngSwitchCase="'silver'"><span style="color: #C0C0C0">S</span></span>
    <span *ngSwitchCase="'ruby'"><span style="color: #A00000">R</span></span>
    <span *ngSwitchCase="'sapphire'"><span style="color: #0000A0">S</span></span>
    <span *ngSwitchCase="'firered'"><span style="color: #FF7327">FR</span></span>
    <span *ngSwitchCase="'leafgreen'"><span style="color: #00DD00">LG</span></span>
    <span *ngSwitchCase="'diamond'"><span style="color: #AAAAFF">D</span></span>
    <span *ngSwitchCase="'pearl'"><span style="color: #FFAAAA">P</span></span>
    <span *ngSwitchCase="'heartgold'"><span style="color: #B69E00">HG</span></span>
    <span *ngSwitchCase="'soulsilver'"><span style="color: #C0C0E1">SS</span></span>
    <span *ngSwitchCase="'black'"><span style="color: #444444">B</span></span>
    <span *ngSwitchCase="'white'"><span style="color: #E1E1E1">W</span></span>
    <span *ngSwitchCase="'black-2'"><span style="color: #424B50">B2</span></span>
    <span *ngSwitchCase="'white-2'"><span style="color: #E3CED0">W2</span></span>
</div>
