<div class="row">
    <div class="col-12">
        <!-- TITLE -->
        <h1 class="text-danger fw-bold">Moves</h1>
        <!-- NUMBER OF MOVES -->
        <p class="pt-2 fs-5">
            Number of Moves: <b>{{ move.count }}</b>
        </p>
        <!-- SEARCH BAR -->
        <div class="col-12 col-md-6 mx-auto">
            <form [formGroup]="moveSearch" class="d-flex mb-4 w-100" role="search" (ngSubmit)="onSubmit()">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    data-bs-theme="light" formControlName="search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>

    </div>
</div>

<!-- PAGINATION -->
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getPreviousPage()">
                <a class="page-link" style="cursor: pointer">Previous</a>
            </li>
            <li class="page-item" (click)="getNextPage()">
                <a class="page-link" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- LIST OF MOVES -->
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let thisMove of move.results; let i = index"
                routerLink="/move/{{ (thisMove.url).slice(31, (thisMove.url).length-1) }}">

                <!-- Number -->
                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    # {{ (thisMove.url).slice(31, (thisMove.url).length-1) }}
                </span>
                <!-- Name -->
                {{ thisMove.name | titlecase }}

            </a>
        </div>
    </div>
</div>

<!-- PAGINATION -->
<div class="row pt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getPreviousPage()">
                <a class="page-link" style="cursor: pointer">Previous</a>
            </li>
            <li class="page-item" (click)="getNextPage()">
                <a class="page-link" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>
