<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getPreviousMove()">
                <a class="page-link text-danger" style="cursor: pointer">Previous</a>
            </li>

            <div class="col-9 col-lg-6 col-xl-4 mb-4">
                <p class="m-0">#{{ move.id }}</p>
                <h1 class="text-danger fw-bold">{{ move.name | titlecase }}</h1>
            </div>

            <li class="page-item" (click)="getNextMove()">
                <a class="page-link text-danger" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">

    <!-- COLUMN 1 -->
    <div class="col-12 col-md-6">
        <div class="container">
            <div class="row">



                <!-- METADATA -->
                <div class="col-12 mb-4" *ngIf="move.meta">
                    <ul class="list-group">
                        <li class="list-group-item p-0">
                            <div class="d-flex flex-column">
                                <table class="table mb-0">
                                    <tbody>

                                        <!-- Type -->
                                        <tr>
                                            <th scope="row">
                                                Type:
                                            </th>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <app-small-type [typeName]="move.type.name"></app-small-type>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Power -->
                                        <tr>
                                            <th scope="row">
                                                Power:
                                            </th>
                                            <td>
                                                <span *ngIf="move.power">{{ move.power }}</span>
                                                <span *ngIf="!move.power">---</span>
                                            </td>
                                        </tr>
                                        <!-- PP -->
                                        <tr>
                                            <th scope="row">
                                                PP:
                                            </th>
                                            <td>
                                                {{ move.pp }}
                                            </td>
                                        </tr>
                                        <!-- Accuracy -->
                                        <tr>
                                            <th scope="row">
                                                Accuracy:
                                            </th>
                                            <td>
                                                <span *ngIf="move.accuracy">{{ move.accuracy }}&percnt;</span>
                                                <span *ngIf="!move.accuracy">---</span>
                                            </td>
                                        </tr>
                                        <!-- Priority -->
                                        <tr>
                                            <th scope="row">
                                                Priority:
                                            </th>
                                            <td>
                                                {{ move.priority }}
                                            </td>
                                        </tr>
                                        <!-- Effect Chance -->
                                        <tr *ngIf="move.effect_chance">
                                            <th scope="row">
                                                Effect Chance:
                                            </th>
                                            <td>
                                                {{ move.effect_chance }}
                                            </td>
                                        </tr>
                                        <!-- Target -->
                                        <tr>
                                            <th scope="row">
                                                Target:
                                            </th>
                                            <td>
                                                {{ move.target.name | capitalcase }}
                                            </td>
                                        </tr>
                                        <!-- Damage Class -->
                                        <tr>
                                            <th scope="row">
                                                Damage Class:
                                            </th>
                                            <td>
                                                <span *ngIf="move.damage_class.name == 'physical'">
                                                    <img src="https://i.ibb.co/0cWBgPW/Physical-IC-HGSS.png"
                                                        alt="Physical">
                                                    {{ move.damage_class.name | titlecase }}
                                                </span>
                                                <span *ngIf="move.damage_class.name == 'special'">
                                                    <img src="https://i.ibb.co/TwWhvP5/Special-IC-HGSS.png"
                                                        alt="Special">
                                                    {{ move.damage_class.name | titlecase }}
                                                </span>
                                                <span *ngIf="move.damage_class.name == 'status'">
                                                    <img src="https://i.ibb.co/qdQ6PPS/Status-IC-HGSS.png" alt="Status">
                                                    {{ move.damage_class.name | titlecase }}
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- Effect -->
                                        <tr>
                                            <td colspan="2" class="px-3">
                                                <div class="d-flex flex-column">
                                                    <div class="fw-bold">Effect:</div>
                                                    <div class="pb-3 pt-2">
                                                        <div class="m-0"
                                                            *ngFor="let effect of move.effect_entries; let i = index"
                                                            style="white-space:pre-wrap">{{ effect.effect }}

                                                            <p class="pt-4 mb-2 fw-bold">In short:</p>
                                                            {{ effect.short_effect }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Crit Rate -->
                                        <tr>
                                            <th scope="row">
                                                Crit Rate:
                                            </th>
                                            <td>
                                                {{ move.meta.crit_rate }}
                                            </td>
                                        </tr>
                                        <!-- Category -->
                                        <tr>
                                            <th scope="row">
                                                Category:
                                            </th>
                                            <td>
                                                {{ move.meta.category.name | capitalcase }}
                                            </td>
                                        </tr>
                                        <!-- Status Ailment -->
                                        <tr>
                                            <th scope="row">
                                                Status Ailment:
                                            </th>
                                            <td>
                                                {{ move.meta.ailment.name | titlecase }}
                                            </td>
                                        </tr>
                                        <!-- Ailment Chance -->
                                        <tr *ngIf="move.meta.ailment.name != 'none'">
                                            <th scope="row">
                                                Ailment Chance:
                                            </th>
                                            <td>
                                                {{ move.meta.ailment_chance }}
                                            </td>
                                        </tr>
                                        <!-- Flinch Chance -->
                                        <tr>
                                            <th scope="row">
                                                Flinch Chance:
                                            </th>
                                            <td>
                                                {{ move.meta.flinch_chance }}
                                            </td>
                                        </tr>
                                        <!-- Drain -->
                                        <tr>
                                            <th scope="row">
                                                Drain:
                                            </th>
                                            <td>
                                                {{ move.meta.drain }}&percnt;<br><i>(of damage done)</i>
                                            </td>
                                        </tr>
                                        <!-- Healing -->
                                        <tr>
                                            <th scope="row">
                                                Healing:
                                            </th>
                                            <td>
                                                {{ move.meta.healing }}&percnt;<br><i>(of max HP)</i>
                                            </td>
                                        </tr>
                                        <!-- Hits -->
                                        <tr *ngIf="!move.meta.max_hits">
                                            <th scope="row">
                                                Hits:
                                            </th>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr *ngIf="move.meta.max_hits">
                                            <th scope="row">
                                                Max Hits:
                                            </th>
                                            <td>
                                                {{ move.meta.max_hits }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="move.meta.min_hits">
                                            <th scope="row">
                                                Min Hits:
                                            </th>
                                            <td>
                                                {{ move.meta.min_hits }}
                                            </td>
                                        </tr>
                                        <!-- Turns -->
                                        <tr *ngIf="!move.meta.max_turns">
                                            <th scope="row">
                                                Turns:
                                            </th>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr *ngIf="move.meta.max_turns">
                                            <th scope="row">
                                                Max Turns:
                                            </th>
                                            <td>
                                                {{ move.meta.max_turns }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="move.meta.min_turns">
                                            <th scope="row">
                                                Min Turns:
                                            </th>
                                            <td>
                                                {{ move.meta.min_turns }}
                                            </td>
                                        </tr>
                                        <!-- Stat Change Chance -->
                                        <tr>
                                            <th scope="row">
                                                Stat Change Chance:
                                            </th>
                                            <td>
                                                {{ move.meta.stat_chance }}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>



                <!-- DESCRIPTION -->
                <div class="col-12 mb-4">
                    <ul class="list-group">
                        <li class="list-group-item px-0 pb-0">
                            <div class="d-flex flex-column table-responsive">
                                <div class="fw-bold mb-2">Description</div>
                                <table class="table mb-0">
                                    <thead>
                                        <tr class="table-danger">
                                            <th scope="col">Game</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let gameDesc of move.flavor_text_entries
                                        ; let i = index">
                                            <th scope="row" *ngIf="gameDesc.language.name == 'en'">
                                                <app-small-game [gameName]="gameDesc.version_group.name">
                                                </app-small-game>
                                            </th>
                                            <td *ngIf="gameDesc.language.name == 'en'">{{ gameDesc.flavor_text }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>


    <!-- COLUMN 2 -->
    <div class="col-12 col-md-6">
        <div class="container mb-4">
            <div class="row">


                <!-- MACHINES -->
                <div class="col-12 mb-4" *ngIf="move.machines[0]">
                    <ul class="list-group">
                        <li class="list-group-item px-0 pb-0">
                            <div class="d-flex flex-column">
                                <div class="fw-bold mb-2">Machines</div>
                                <table class="table mb-0">
                                    <thead>
                                        <tr class="table-danger">
                                            <th scope="col">Game</th>
                                            <th scope="col">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let machine of move.machines
                                        ; let i = index">
                                            <th scope="row">
                                                <app-small-game [gameName]="machine.version_group.name">
                                                </app-small-game>
                                            </th>
                                            <td>
                                                <app-small-machine
                                                    [machineId]="(machine.machine.url).slice(34, machine.machine.url.length - 1)">
                                                </app-small-machine>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>



                <!-- LEARNED BY POKEMON -->
                <div class="col-12 mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex flex-column">

                                <div class="fw-bold">Learned by</div>
                                <!-- <div class="fw-bold">
                                    Learned by:<br>
                                    <i class="fw-normal">(click to expand)</i>
                                </div> -->

                                <div class="py-3 collapse d-flex flex-wrap justify-content-center">

                                    <div class="m-1" *ngFor="let pokemon of move.learned_by_pokemon; let i = index">
                                        <a routerLink="/pokemon/{{ (pokemon.url).slice(34, (pokemon.url).length-1) }}">
                                            <app-small-pokemon [pokemonName]="move.learned_by_pokemon[i].name">
                                            </app-small-pokemon>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>
                </div>


                <!-- LANGUAGES -->
                <div class="col-12 mb-4">
                    <ul class="list-group">
                        <li class="list-group-item px-0">
                            <div class="d-flex flex-column">
                                <div class="fw-bold mb-2">Name in different languages</div>
                                <table class="table mb-0">
                                    <thead>
                                        <tr class="table-danger">
                                            <th scope="col">Language</th>
                                            <th scope="col">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let thisName of move.names
                                        ; let i = index">
                                            <th scope="row" [ngSwitch]="thisName.language.name"
                                                *ngIf="thisName.language.name != 'ja'">
                                                <span *ngSwitchCase="'ja-Hrkt'">Japanese</span>
                                                <span *ngSwitchCase="'ko'">Korean</span>
                                                <span *ngSwitchCase="'zh-Hant'">Cantonese</span>
                                                <span *ngSwitchCase="'fr'">French</span>
                                                <span *ngSwitchCase="'de'">German</span>
                                                <span *ngSwitchCase="'es'">Spanish</span>
                                                <span *ngSwitchCase="'it'">Italian</span>
                                                <span *ngSwitchCase="'en'">English</span>
                                                <span *ngSwitchCase="'zh-Hans'">Mandarin</span>
                                            </th>
                                            <td *ngIf="thisName.language.name != 'ja'">{{ thisName.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
</div>
