/* You can add global styles to this file, and also import other style files */
body {
    // background-color: #ffecee;
    background-image: url("https://64.media.tumblr.com/78e8234510ada0873daebaa8a4df5a05/tumblr_inline_n7q6zkpkmI1rnjuep.png");
}

a {
    color: #DC3545;
}

// Search bar input focus color
.form-control:focus {
    border-color: #fe8686;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

// Pagination colors
.pagination > li > a {
    --bs-pagination-color: #DC3545;
    --bs-pagination-disabled-color: #53575B;
    --bs-pagination-hover-color: #BB2D37;

    &:hover {
        font-weight: normal;
        font-style: normal;
    }
}

.active>.page-link,
.page-link.active {
    background-color: #DC3545;
    border-color: #BB2D37;

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
    }
}
