<div class="row">
    <div class="col-12">
        <!-- TITLE -->
        <h1 class="text-danger fw-bold">Items</h1>
        <!-- NUMBER OF ITEMS -->
        <p class="pt-2 fs-5">
            Number of Items: <b>{{ item.count }}</b>
        </p>
        <!-- SEARCH BAR -->
        <form [formGroup]="itemSearch" class="d-flex mb-4 w-50 m-auto" role="search" (ngSubmit)="onSubmit()">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" data-bs-theme="light" formControlName="search">
            <button class="btn btn-danger" type="submit">Search</button>
        </form>

    </div>
</div>

<!-- PAGINATION -->
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getPreviousPage()">
                <a class="page-link text-danger" style="cursor: pointer">Previous</a>
            </li>
            <li class="page-item" (click)="getNextPage()">
                <a class="page-link text-danger" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- LIST OF ITEMS -->
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let thisItem of item.results; let i = index"
                routerLink="/item/{{ (thisItem.url).slice(31, (thisItem.url).length-1) }}">

                <!-- Pokemon Number -->
                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    # {{ (thisItem.url).slice(31, (thisItem.url).length-1) }}
                </span>
                <!-- Pokemon Name -->
                <b> {{ thisItem.name | titlecase }}</b>

            </a>
        </div>
    </div>
</div>

<!-- PAGINATION -->
<div class="row pt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getPreviousPage()">
                <a class="page-link text-danger" style="cursor: pointer">Previous</a>
            </li>
            <li class="page-item" (click)="getNextPage()">
                <a class="page-link text-danger" style="cursor: pointer">Next</a>
            </li>
        </ul>
    </nav>
</div>
