<a href="/type/{{ (type.url).slice(31, type.url.length - 1)}}">
    <div class="m-0 mb-1 px-2 type" [ngClass]="{
    'normal' : type.name == 'normal',
    'fighting' : type.name == 'fighting',
    'flying' : type.name == 'flying',
    'poison' : type.name == 'poison',
    'ground' : type.name == 'ground',
    'rock' : type.name == 'rock',
    'bug' : type.name == 'bug',
    'ghost' : type.name == 'ghost',
    'steel' : type.name == 'steel',
    'fire' : type.name == 'fire',
    'water' : type.name == 'water',
    'grass' : type.name == 'grass',
    'electric' : type.name == 'electric',
    'psychic' : type.name == 'psychic',
    'ice' : type.name == 'ice',
    'dragon' : type.name == 'dragon',
    'dark' : type.name == 'dark',
    'fairy' : type.name == 'fairy',
    'unknown' : type.name == 'unknown',
    'shadow' : type.name == 'shadow'
}">
        <span *ngIf="type.name != 'unknown'">{{ type.name | titlecase }}</span>
        <span *ngIf="type.name == 'unknown'">???</span>
    </div>
</a>
